<a href="https://colab.research.google.com/github/MichaelRobb6/MovieProject/blob/main/inclasscode%5CTimeSeries_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_string = "hello"
my_int = 27
my_float = 36.0

In [ ]:
my_int * my_float

972.0

In [ ]:
helloworld = "Hello World"

In [ ]:
import numpy as np

In [ ]:
my_nparr = np.array([1, 2, 3])

In [ ]:
my_nparr*3

array([3, 6, 9])

In [ ]:
my_bool = True

In [ ]:
my_int == 1

False

In [ ]:
type(my_int)

int

In [ ]:
my_nparr.dtype

dtype('int64')

In [ ]:
my_nparr.max()

3

In [ ]:
my_nparr.argmax()

2

In [ ]:
my_nparr[-1]

3

In [ ]:
my_nparr[1:]

array([2, 3])

In [ ]:
for a in range(1,4):
  print(sum(np.arange(0,a)))

0
1
3

In [ ]:
def all_ods(lastn):
  """
  Prints odd numbers
  Input:
    lastn: (int) in the list
  Output:
    Prints odd numbers
  """

  odds = []

  for num in range(0,lastn+1):
    if num % 2 != 0:
      odds.append(num)

  return odds

In [ ]:
stuff = all_ods(15)

In [ ]:
all_ods?

In [ ]:
stuff

[1, 3, 5, 7, 9, 11, 13, 15]

In [ ]:
def ispal(the_string):
  if type(the_string) != str:
    return False
  else:
    return the_string == the_string[::-1]